@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'acid Grotesk';
  src: url('/fonts/acid-grotesk-regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'acid Grotesk';
  src: url('/fonts/acid-grotesk-regular.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'acid Grotesk';
  src: url('/fonts/acid-grotesk-medium.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'acid Grotesk';
  src: url('/fonts/acid-grotesk-medium.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'acid Grotesk';
  src: url('/fonts/acid-grotesk-Bold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'acid Grotesk';
  src: url('/fonts/AcidGrotesk-Bold.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}

body {
  font-family: 'acid Grotesk';
}

.review-box::-webkit-scrollbar {
  display: none;
}

.loader-animation {
  animation: loader linear forwards 1.5s;
}
.active {
  max-height: 100rem !important;
  transition: max-height 0.25s ease-in !important;
}

.animate-infinite {
  width: 900vw;
}
@keyframes rotateInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150vw));
  }
}

.animate-infinite-1 {
  width: 1200vw;
}
@keyframes rotateInfinite1 {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(calc(-210vw));
  }
}

.animate-infinite-2 {
  width: 940vw;
}
@keyframes rotateInfinite2 {
  0% {
    transform: translateX(-120vw);
  }
  100% {
    transform: translateX(calc(0vw));
  }
}

@keyframes loader {
  from {
    translate: 0px;
  }
  to {
    translate: 200px;
  }
}
